<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>

<h2>Connexion</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <p style="color: {% if categorie == 'danger' %}red{% else %}green{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">

    <input type="text" name="identifiant" placeholder="Email ou téléphone" required><br><br>
    <input type="password" name="mot_de_passe" placeholder="Mot de passe"  required><br><br>

    <button type="submit">Se connecter</button>

</form>

<p>Pas de compte ? <a href="/inscription">S'inscrire</a></p>

</body>
</html>